@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');


.card-user {
  font-family: 'red hat text', sans-serif;
  padding: 30px;
  font-family: Arial, sans-serif;
  margin-left: 250px;
}

.card-user h2 {
  margin-bottom: 20px;
}

.card-info {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
}

.user-card h3 {

  margin-top: 0;
  color: #213158;
}

.user-card i {
  color: #213158;
}

.user-card {
  display: flex;
  flex-direction: column;
  background-color: #f7f9fc;
  width: auto;
  height: auto;
  border: 1px solid #e1e1e1;
  border-radius: 10px;
  padding: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.ver-casos {
  text-decoration: none;
  color: #0231a7;
  font-weight: 600;
}

.user-card p {
  font-family: 'red hat text', sans-serif;
  font-size: 18px;
  margin: 8px 0;
  display: flex;
  align-items: center;
  gap: 6px;
}

.user-card a {
  font-family: 'red hat text', sans-serif;
  background-color: #213158;
  width: min-content;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  transition: 0.3s ease;
}

.user-card a:hover {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.btn-novo {
  width: 10rem;
  display: flex;
  padding: 10px 11px;
  border: none;
  margin-bottom: 10px;
  background-color: #5369a0;
  border-radius: 15px;
  color: #fff;
  margin-left: 80%;
  cursor: pointer;
  gap: 10px;

}

.trash {
  display: flex;
  justify-content: end;
  border: none;
}

button.excluir {
  border: none;
  border-radius: 100%;
  cursor: pointer;
  font-size: 14px;
  width: auto;
  background-color: transparent;

  transition: 0.3s ease;
}

.trash i {
  color: #213158;
  font-size: 20px;
  transition: 0.3s ease;
}

.trash i:hover {
  color: #f00;
  transition: 0.3s ease;
}

@media (max-width: 768px) {
  .card-user {
    margin-left: 60px;
    padding: 16px;
  }

  .btn-novo {
    margin-left: 0;
  }
}

@media (max-width: 468px) {
  .card-user {
    margin-left: 60px;
    padding: 10px;

  }
}