.card {
    display: flex;
    justify-content: space-between;
    min-height: 100px;
    background-color: rgb(255, 255, 255);
    font-family: "Red Hat Text", sans-serif;
    border: 1px solid #ADADAD;
    padding: 20px;
    margin-bottom: 25px;
    margin: 10px 0px;
    border-radius: 8px;
    transition: 0.3s ease;

}

.card:hover {
    transform: scale(1.01);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

h3 {
    color: #000000;
    font-size: 20px;
    margin: 0;
    font-weight: 600;
}

p {
    color: #000000;
    font-size: 14px;
    margin: 4px 0;
}

.containerStatus {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    height: 100%;
    width: auto;
    margin: 0;
}

.containerStatus a {
    color: #ffffff;
    border-radius: 5.5px;
    padding: 10px;
    margin: 0;
    background-color: #02257B;
    transition: 0.3s ease;
}

.containerStatus a:hover {
    background-color: #153da3;
}

.status {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 110px;
    height: 20px;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    color: rgb(0, 0, 0);
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 10px;
}

.status-aberto {
    font-weight: 500;
    color: #fff;
    background-color: #33CC9B;

}

.status-aberto div {
    margin-right: 5px;
    background-color: #00FFAE;
    border-radius: 100%;
    width: 10px;
    height: 10px;
    color: #00FFAE;
}

.status-fechado {
    font-weight: 500;
    color: #ecd5d5;
    background-color: #FF4D4D;
}

.status-fechado div {
    margin-right: 5px;
    background-color: #FF0000;
    border-radius: 100%;
    width: 10px;
    height: 10px;
    color: #00FFAE;
}


.status-em-análise {
    font-weight: 500;
    color: #02257B;
    background-color: #DAE5F4;
}


.status-em-análise div {
    margin-right: 5px;
    background-color: #4B97FF;
    border-radius: 100%;
    width: 10px;
    height: 10px;
    color: #00FFAE;
}

.detalhes {
    text-decoration: none;
    display: flex;
    color: #000000;
    margin-left: 90%;
}

.descricao {
    color: #ADADAD;
}


.cardDescricao {
    width: 100%;
    color: #000000;
}

@media (max-width: 480px) {
    .card {
        display: flex;
        flex-direction: column;
    }

    .card {
        width: 80%;
        margin: 10px 0;
        margin-bottom: 25px;
        margin-left: 10px;
    }

    h2 {
        font-size: 18px;
    }

    p {
        font-size: 17px;
    }

    input {
        width: 80%;
    }

}